{% assign participant = include.participant %}
{% assign gh = participant.social | where: 'name', 'GitHub' | last %}
{% assign gh_id = gh.url | split: '/' | last %}

<div class="participant group">
    <div class="participant-label">
        {% avatar user=gh_id size=200 %} <br>
        <strong> {{ participant.name }} </strong>
        <div class="participant-social">
            <br class="small-break">
            <ul>
                {% for social_item in participant.social %}
                <li class="inline-list"><a href="{{ social_item.url }}" target="_blank" title="{{ social_item.title }}">
                    <i class="fa fa-{{ social_item.name | downcase }}"></i>
                </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="participant-info">
        <div class="participant-bio">
            <strong>Bio:</strong> {{ participant.bio }}<br>
            <strong>Favorite Drink:</strong> {{ participant.drink }}<br>
            <strong>Hobbies:</strong> {{ participant.hobbies }}<br>
        </div>
    </div>
</div>