.participant-label{
  float: left;
  margin-top: 10px;
  width: 35%;
}

.participant-info{
  width: 65%;
  float: right;
}

.participant-bio{

}

.small-break{
  content: " ";
  display: block;
  margin: 2px;
}

.participant-social{

}

.inline-list{
  display: inline;
}

.participant{
  width: 100%;
  position:relative;
  clear:both;
  min-height: 270px;
}

h2{
  clear:both;
}