.participant-label{
  float: left;
  margin-top: 5px;
  width: 35%;
}

.participant-info{
  width: 65%;
  float: right;
}

.participant-bio{

}

.small-break{
  content: " ";
  display: block;
  margin: 2px;
}

.large-break{
  content: " ";
  display: block;
  margin: 2em;
}

.participant-social{

}

.inline-list{
  display: inline;
  position: relative;
  left: -1.2em;
  top: 0.2em;
}

.participant{
  width: 100%;
  position:relative;
  clear:both;
}

h2{
  clear:both;
}

footer{
  clear:both;
}